<!DOCTYPE html>
<html>
 <head>
        <meta charset="utf-8">
        <title>!andom</title>

        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

        <script src="/static/app.js"></script>
        <link rel="stylesheet" href="/static/styles.css">

    </head>
<body>
	<h1> </h1>

	<div class = "container">
		<nav class="navbar navbar-default smallernav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" class = "smlimg" src="http://chatfield.k12.mn.us/SiteCollectionImages/glossy-black-3d-button-icon-alphanumeric-full-set/070652-glossy-black-3d-button-icon-alphanumeric-full-set/070528-glossy-black-3d-button-icon-alphanumeric-exclamation-point-ps.png">
      </a>
   


	<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <input type="text" class="form-control smallnav" placeholder="Change Location">
  </div>
  <button type="submit" class="btn btn-default">!</button>
  </nav>
</form>
	<div class="round-button"><div class="round-button-circle"><a href="https://media.giphy.com/media/KlCpW0I2Ptd3a/giphy.gif" class="round-button">Random!</a></div></div>
</div>
</div>

</div>

</body>
</html>